<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Acerca de</h1>
    <h2>... y mi nuevo sitio web Astro</h2>
    <p>Estoy trabajando en el tutorial introductorio de Astro. ¡Esta es la segunda página de mi sitio web y es la primera que construí yo mismo!</p>
    <p>Este sitio se actualizará a medida que complete más tutoriales, ¡así que sigue revisando y mira cómo va mi viaje!</p>
  </body>
</html>
